@media (max-width: 1200px)
    .work_item
        .item
            padding: 10px
            img
                display: block
                margin: 0 auto
                max-width: 300px
                max-height: 200px


@media (max-width: 992px)
    .header
        padding: 25px 0 50px 0
        height: 630px
        &_logo
            img
                max-height: 65px
                max-width: 65px
        .menu
            &_item
                padding: 0
                a
                    padding: 5px
                    font-size: 13px

        &_btn
            width: 120px
            height: 40px
            font-size: 10px
        .feedback_number
            margin-right: 10px
            font-size: 12px
            a
                font-size: 12px
        &_wrapper
            p
                font-size: 20px 
        h1
            font-size: 46px
        &_subheader
            font-size: 26px
        &_ellipse::after
            content: ""
            background-color: #fff
            width: 300px
            height: 1px
            position: absolute
            right: 20px
        &_ellipse::before
            content: ""
            background-color: #fff
            width: 300px
            height: 1px
            position: absolute
            left: 20px
        &_icons
            .icon_img
                img
                    max-height: 50px
                    max-width: 50px
            .icon_text
                margin-top: 10px
                font-size: 12px
        .wrapper_btn
            width: 200px
            height: 50px


    .advantage_header
        font-size: 22px 

    .work_subheader
        font-size: 14px

    .work_item
        display: flex
        justify-content: center
        align-items: center
        flex-wrap: wrap
        .item
            padding: 15px

    .agency_subheader
        font-size: 15px

    .price_subheader
        font-size: 14px
    .price_item
        display: flex
        justify-content: space-around
        align-items: center
        flex-wrap: wrap
        margin-top: 30px
        .item
            margin: 15px

    .price_consultation
        .consultation_form
            input
                width: 240px
                height: 45px

        .consultation_btn
            width: 200px
            height: 50px
            font-size: 14px


    .manager_subheader
        font-size: 17px

    .system_item
        .item
            width: 260px  

    .feedback_form
        input
            width: 220px
    textarea
        width: 700px
    
    .footer_logo
        img
            max-width: 65px
            max-height: 65px
    .footer_text
        margin-left: 20px

    .footer_question
        font-size: 13px
    .footer_phone
        font-size: 15px
    .footer_btn
        width: 140px
        height: 40px
        font-size: 11px
    .footer_wrapper
        display: flex
        align-items: center
        justify-content: space-between
    .footer_created
        display: flex
        align-items: center
        justify-content: space-between
        .created_text
            font-size: 12px
            margin-right: 10px
        .created_icon
            img
                margin: 0

    .overlay
        .modal
            width: 420px
            min-height: 220px
            padding: 10px 10px
            &_header
                font-size: 22px
            &_form
                input
                    width: 330px
                label
                    font-size: 14px
            &_btn
                margin-top: 5px
                width: 130px
                height: 35px

@media (max-width: 768px)

    .header
        padding: 25px 0 25px 0
        height: 550px
        &_logo
            img
                max-width: 55px
                max-height: 55px
        &_menu
            .menu
                position: fixed
                display: flex
                flex-direction: column
                justify-content: space-around
                align-items: center
                top: 0
                left: -100%
                width: 50%
                height: 100vh
                padding: 20px 15px
                z-index: 1
                background-color: rgba(37,51,60,0.8)
                transition: all 0.5s ease
                &_item
                    border: none
                    a
                        font-size: 14px
                        padding: 10px
                        
            .menu_active
                left: 0%

            .feedback_number
                display: none

            .hamburger
                display: block
                width: 25px
                height: 12px
                span
                    display: block
                    width: 100%
                    height: 2px
                    background-color: #fff
                    margin-bottom: 2px
                    transition: all 0.5s ease

            .hamburger_active
                span
                    margin-bottom: -2px
                    &:nth-child(1)
                        transform: translateY(3px) rotate(-45deg)
                    &:nth-child(2)
                        display: none
                    &:nth-child(3)
                        transform: translateY(3px) rotate(45deg)

        &_wrapper
            p
                font-size: 16px 
            h1
                font-size: 32px
    
        &_subheader
            font-size: 18px

        &_ellipse::after
            content: ""
            background-color: #fff
            width: 220px
            height: 1px
            position: absolute
            right: 20px
        &_ellipse::before
            content: ""
            background-color: #fff
            width: 220px
            height: 1px
            position: absolute
            left: 20px

        &_icons
            .icon_img
                img
                    max-height: 50px
                    max-width: 50px
            .icon_text
                margin-top: 10px
                font-size: 11px
        .wrapper_btn
            width: 130px
            height: 40px
            font-size: 11px
        
    .advantage_header
        font-size: 20px
    .work_header
        font-size: 20px
    .price_header
        font-size: 20px
    .system_header
        font-size: 20px
    .price_item
        .item_btn
            width: 130px
            height: 40px
    .price_consultation
        .consultation_subheader
            font-size: 20px
        .consultation_btn
            width: 150px
            font-size: 12px
            height: 40px
            
        .feedback_btn
            width: 150px
            height: 40px

    .map_address
        width: 273px

    .footer_top
        .footer_logo
            img
                max-height: 55px
                max-width: 55px
        .footer_text
            font-size: 12px
            margin-left: 40px
        .footer_number
            display: none


/** @media (max-width:576px) 